.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10rem;
  
  .Link {
    font-size: 1.5rem;
    font-weight: 550;
    color: var(--primary-color-text);

    &:hover {
      color: var(--secondary-color-text);
    }
  }

  .nav_ul {
    display: flex;
    column-gap: 6rem;
  }
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.logo_image {
  width: 4rem ;
  height: 4rem;
}

.logo span {
  font-size: 2.5rem;
  font-weight: 600;
}

