.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 50px 0;
}

.text {

  h5 {
    font-size: 2rem;
    line-height: 5rem;
  }

  h1 {
    font-size: 5rem;
    line-height: 5rem;
  }
}

.foto {
  text-align: center;
}

.button {
  margin-top: 130px;
  width: 320px;
  height: 45px;
  font-size: 1.6rem;
  font-weight: 550;
  color: #FFF;
  background-color: var(--secondary-color-text);
  border-radius: 15px;
}