.about {
  padding: 5rem 9%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  column-gap: 10rem;
  row-gap: 2rem;
  flex-wrap: wrap;
  margin-top: 7rem;
  
}

.about_img {
  display: flex;
  align-items: center;
  flex-flow: column;
  border-radius: 10px;
  height: min-content;
  position: relative;
  position: relative;
  overflow: hidden;
}

.about::before {
  content: "";
  width: 40rem;
  height: 40rem;
  border-radius: 200%;
  background-color: rgb(14, 120, 146);
  position: absolute;
  top: -10rem;
  right: -15rem;
  clip-path: circle(55%);
  z-index: -1;
}

.container_image{
  display: flex;
  justify-content: center;
  background: linear-gradient(#122029, #01070a);
  width: 100%;
  overflow: hidden;
  border: .3rem solid #568fae;
  border-radius: 10px;
  position: relative;
}

.container_image::before {
  content: "";
  width: 60rem;
  height: 60rem;
  border-radius: 200%;
  background-color: rgb(14, 120, 146);
  position: absolute;
  top: -25rem;
  left: -25rem;
  clip-path: circle(55%);
  z-index: 1;
}

.image_dev {
  width: 40rem;
  height: 50rem;
  position: sticky;
  z-index: 1;
}

.icon_social {
  display: flex;
  padding: 3rem;
  gap: 3rem;
}

.icon_social svg {
  font-size: 5rem;
  color: #175b80;
  border: 2px solid #175b80;
  border-radius: 1rem;
  cursor: pointer;
 transition: 500ms ease;
}

.icon_social svg:hover {
  color: #00eeff; 
  border: 2px solid #00eeff;
}

.about_content .heading {
  font-size: 3.5rem;
  font-weight: 600;
} 
.about span {
  color: var(--secondary-color-text);
}

.about h3 {
  font-size: 2.5rem;
  font-weight: 550;
  line-height: 4rem;
}

.about p {
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 2rem 0 3rem;
}

/* media 992px */

@media (max-width: 992px) {
  .about {
    padding: 4rem 3%;
  }
}

@media (max-width: 480px) {
  .image_dev {
    width: 30rem;
    height: 45rem;
  }

}

@media (max-width: 375px) {
  .image_dev {
    width: 25rem;
    height: 35rem;
  }
}