.about {
  padding: 5rem 9%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  column-gap: 10rem;
  row-gap: 2rem;
  flex-wrap: wrap;
  margin-top: 7rem;
}

.about_img {
  display: flex;
  align-items: center;
  flex-flow: column;
  border-radius: 10px;
  height: min-content;
  
}

.container_image{
  display: flex;
  justify-content: center;
  background: linear-gradient(#1f465c, #082633);
  width: 100%;
  overflow: hidden;
  border: .3rem solid #568fae;
  border-radius: 10px;
}

.image_dev {
  width: 40rem;
  height: 50rem;
}

.icon_social {
  display: flex;
  padding: 3rem;
  gap: 3rem;
}

.icon_social svg {
  font-size: 5rem;
  color: #568fae;
  border: 2px solid #568fae;
  border-radius: 1rem;
  cursor: pointer;
 transition: 500ms ease;
}

.icon_social svg:hover {
  color: #051824; 
  border: 2px solid #051824;
}

.about_content .heading {
  font-size: 3.5rem;
  font-weight: 600;
}

.about span {
  color: var(--secondary-color-text);
}


.about h3 {
  font-size: 2.5rem;
  font-weight: 550;
  line-height: 4rem;
}

.about p {
  font-size: 2rem;
  line-height: 2.5rem;
  margin: 2rem 0 3rem;
}

/* media 992px */

@media (max-width: 992px) {
  .about {
    padding: 4rem 3%;
  }
}

@media (max-width: 480px) {
  .image_dev {
    width: 30rem;
    height: 45rem;
  }

}

@media (max-width: 375px) {
  .image_dev {
    width: 25rem;
    height: 35rem;
  }
}