.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10rem;
  padding: 0 9%;
}

.logo {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.logo_image {
  width: 4rem;
  height: 4rem;
}

.texto_logo {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--primary-color-text);
}

.menu_responsive {
  cursor: pointer;
}

.menu_responsive:hover {
  color: var(--secondary-color-text);
}

.menu_responsive,
.menu_close {
  font-size: 3rem;
  display: none;
}

.menu-fixed {
  background-color: #000;
  height: 80px;
  position: fixed;
  width: 100%;
  transition: .5s ease height; 
}

.nav_ul {
  display: flex;
  column-gap: 6rem;
  transition: 1s ease;
}


.nav_ul li .Link {
  font-weight: 550;
  color: var(--primary-color-text);
  padding: .3rem 0;

}

.nav_ul li .Link:hover {
  color: var(--secondary-color-text);
  border-bottom: 3px solid;
}

/* -------------- Theme Light and Dark --------------------------*/

.icontheme {
  position: absolute;
  right: 3rem;
  top: 3.3rem;
  z-index: 0;
}
.icondark,
.iconlight {
  font-size: 3rem;
}

.icondark {
  display: none;
}

.iconlight {
  cursor: pointer;
}


/*  ------------------ Reposivo ----------------------------------*/

@media all and (max-width: 992px) {
  .header {
    background-color: aquamarine;
    position: relative;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2% ;
    z-index: 11;
  }

  .logo_image {
    width: 3.2rem;
    height: 3.2rem;
    padding: 0;
  }

  .icontheme {
    right: 7rem;
    top: 1.5rem;
  }

  .tag_nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 2rem 3%;
    display: none; 
  }

  .menu_close {
    position: absolute;
    right: 0;
    top: 0;
    margin: 2% 2% 0;
    cursor: pointer;
  }

  .menu_close:hover {
    color: red;
  }

  .nav_ul {
    display: flex;
    flex-flow: column;
    row-gap: 3rem
  }

  .display {
    display: block;
  }

}