* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	outline: none;
}

:root {
	font-family: 'Poppins', sans-serif;
	font-size: clamp(40%, 1% + 2vw,  62.5%);
	color: var(--primary-color-text);


	/* Variáveis de cores */

	--primary-color-text: #445964;
	--secondary-color-text: #263138;

}

html {
	overflow-x: hidden;
}

html,
body {
	line-height: 1;
	font-size: 1.6rem;
}

a {
	text-decoration: none;
}

ol,
ul {
	list-style: none;
}