.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem;
  row-gap: 2rem;

  .iconTop {
    display: flex;
    color: var(--secondary-color-text);
    background-color: aquamarine;
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    transition: .5s ease;

    &:hover {
      box-shadow: 0 0 1rem rgba($color: #000000, $alpha: 1.0);
    }

    .ir_top {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

    }
  }

}