.container {
  padding: 2rem 1rem;

  .header_skills {
    display: flex;
    flex-flow: column;
    align-items: center;
    row-gap: 2rem;


    .skills_logo {
      display: flex;
      align-items: center;
      column-gap: 2rem;
    }

    .hardSkill {
      font-size: 4rem;
      font-weight: 600;

        .hard {
          color: var(--secondary-color-text);
          margin-right: 2rem;
        }
    }

    p {
      font-size: 2rem;
      font-weight: 550;
    }
  }

  .techs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(32rem, 1fr));
    padding: 4rem 0;

  
    .contentTechs {
      display: flex;
      flex-flow: column;
      align-items: center;
      row-gap: 2rem;
      padding: 2rem 0;
    }

    .title_stacks {
      font-size: 2rem;
      font-weight: 600;

    }
  }


}