.container {

  .header_skills {
    display: flex;
    flex-flow: column;
    align-items: center;
    row-gap: 2rem;


    .skills_logo {
      display: flex;
      align-items: center;
      column-gap: 2rem;
    }

    .hardSkill {
      font-size: 4rem;
      font-weight: 600;

        .hard {
          color: var(--secondary-color-text);
          margin-right: 2rem;
        }
    }

    p {
      font-size: 2rem;
      font-weight: 550;
    }
  }

  .techs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  
    .contentTechs {
      display: flex;
      flex-flow: column;
     align-items: center;
      padding: 2rem;
      border: 2px solid;
    }
  }


}