.container {

  .header_portfolio {
    display: flex;
    align-items: flex-end;
    column-gap: 9rem;
    margin-bottom: 2rem;

    .title {


      span {
        font-size: 5rem;
        font-weight: 600;
      }

      .text_my {
        color: var(--secondary-color-text);
      }

    }

    .descricao_portifolio span{
      font-size: 2rem;
      font-weight: 500;
      line-height: 2.5rem;
    }

  }

  .grid_portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;

    .box_project {
      position: relative;
      border-radius: .7rem;

      h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -8rem;
        margin-top: -2rem;
        padding: 1rem 2rem;
        background-color: rgba(0, 0, 0, .5);
        border-radius: .5rem;
        color: #fff;
      }
    }

    .image {
      width: 100%;
      height: 20rem;
    }

  }
}