.container {
  display: flex;
  gap: 3rem;
  padding: 5rem 1rem;


  .saltation_text {

    .text {

      h5 {
        font-size: 2rem;
        line-height: 5rem;
        font-weight: 500;
      }

      h1 {
        font-size: 5rem;
        line-height: 5rem;
        font-weight: 600;
      }
    }

    .button {
      margin-top: 15rem;
      display: inline-block;
      padding: 1.3rem 2.8rem;
      background-color: var(--secondary-color-text);
      border-radius: 3rem;
      box-shadow: 0 0 1rem var(--primary-color-text);
      color: #fff;
      letter-spacing: .1rem;
      font-size: 600;
      transition: .5s ease;

      &:hover {
        box-shadow: none;
      }
    }

    .social {
      display: flex;
      column-gap: 3rem;

      .social_icon {
        margin-top: 5rem;
        padding: 5rem 0;
        font-size: 4rem;
        transition: .5s ease;
        color: var(--secondary-color-text);


        &:hover {
          color: #011b5e;
        }
      }

    }

  }

  .foto {
 

    .image_dev {
      width: 50vw;
    }
  }

}

@media (max-width: 992px) {
  .container {
    
  }

  @media all and (max-width: 992px) {
    
  }
}