.container {
  padding: 0 9%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(36rem, 1fr));
  background-color: var(--primary-color-text);
  color: #fff;
}

.saltation_text {
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 5rem;
  padding: 10rem 0;
}


.text h5 {
  font-size: 2.5rem;
  margin-bottom: .5rem;
}

.text h1 {
  font-size: 4rem;
  font-weight: 600;
  position: relative;
}

.text h1:hover {
  text-shadow: 0.05em 0 0 #ec2225, -0.025em -0.05em 0 #313f97,
    0.025em 0.05em 0 #50c878;
  color: rgba(0, 194, 203, 0.2);
}

.text h1:before,
.text h1:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.text h1:hover:before {
  animation: glitch 650ms infinite;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  transform: translate(-0.025em, -0.0125em);
}

.text h1:hover::after {
  animation: glitch 375ms infinite;
  clip-path: polygon(0 65%, 100% 20%, 100% 100%, 0 70%);
  transform: translate(0.0125em, 0.025em);
}

@keyframes glitch {
  0% {
    color: rgba(236, 34, 37, 0.2);
    text-shadow: 0.05em 0 0 #ec2225, -0.025em -0.05em 0 #313f97,
      0.025em 0.05em 0 #50c878;
  }

  14% {
    text-shadow: 0.05em 0 0 #ec2225, -0.025em -0.05em 0 #313f97,
      0.025em 0.05em 0 #50c878;
  }

  15% {
    color: #50c878;
    text-shadow: -0.05em -0.025em 0 #ec2225, 0.025em -0.025em 0 #313f97,
      -0.05em -0.05em 0 #50c878;
  }

  49% {
    text-shadow: -0.05em -0.025em 0 #ec2225, 0.025em -0.025em 0 #313f97,
      -0.05em -0.05em 0 #50c878;
  }

  50% {
    text-shadow: 0.025em 0.05em 0 #ec2225, -0.025em 0.05em 0 #313f97,
      0 -0.05em 0 #50c878;
  }

  99% {
    color: #313f97;
    text-shadow: 0.025em 0.05em 0 #ec2225, -0.025em 0.05em 0 #313f97,
      0 -0.05em 0 #50c878;
  }

  100% {
    text-shadow: -0.025em 0 0 #ec2225, -0.025em -0.025em 0 #313f97,
      -0.025em -0.05em 0 #50c878;
  }
}

.text p {
  font-size: 1.8rem;
  margin-top: .5rem;
}


.down_btn {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  
}

.down_cv {
  display: flex;
  align-items: center;
  width: max-content;
  padding: .5rem 3rem;
  border-top: 2px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  cursor: pointer;
  transition: .5s ease;
  font-weight: 500;
  column-gap: 2rem;
  transition: .5s ease;
}

.down_cv:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, .6);
  background-color: var(--secondary-color-text);
  color: #ffffff;
}

.down_cv svg {
  font-size: 2.5rem;
}

.button {
  padding: 1.3rem 5.8rem;
  background-color: var(--secondary-color-text);
  width: max-content;
  box-shadow: 0 0 3rem var(--primary-color-text);
  color: #fff;
  letter-spacing: .1rem;
  font-size: 1.6rem;
  transition: .5s ease;
  font-weight: 500;
  border-top: 2px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.button:hover {
  box-shadow: none;
  background-color: transparent;
  border-bottom: 1px solid var(--secondary-color-text);
  border-top: 2px solid var(--secondary-color-text);
  border-left: 1px solid var(--secondary-color-text);
  border-right: 1px solid var(--secondary-color-text);
}

.social {
  display: flex;
  column-gap: 6rem;
}

.social svg {
  font-size: 4rem;
  color: #fff;
  transition: .5s ease;
}

.social svg:hover {
  color: var(--secondary-color-text);
}

.foto {
  display: flex;
  justify-content: center;
  align-items: flex-end;

}

.image_dev {
  width: 40rem;
  height: 50rem;

}


@media (max-width: 992px){
  .container {
    padding: 0 3%;
  }

  .text h5 {
    font-size: 2rem;
  }

  .text h1 {
    font-size: 3rem;
  }


  .saltation_text {
    padding: 4rem 0;
  }
  
  .image_dev {
    width: 30rem;
    height: 40rem;
  }


}

@media (max-width: 768px) {

  .container {
    padding: 3rem 3%;
  }

  .saltation_text {
    order: 2;
   
  }

  .foto {
    order: 1;
  }

  .image_dev {
    width: 25rem;
    height: 32rem;
  }

}