.container {
  display: flex;
  padding: 2rem 1rem;

  .saltation_text {

    .text {

      h5 {
        font-size: 2rem;
        line-height: 5rem;
        font-weight: 500;
      }

      h1 {
        font-size: 5rem;
        line-height: 5rem;
        font-weight: 600;
      }
    }

    .button {
      padding: 1.3rem 2.8rem;
      background-color: var(--secondary-color-text);
      border-radius: 3rem;
      width: max-content;
      box-shadow: 0 0 1rem var(--primary-color-text);
      color: #fff;
      letter-spacing: .1rem;
      font-size: 1.6rem;
      transition: .5s ease;
      font-weight: 500;

      &:hover {
        box-shadow: none;
      }
    }

    .down_btn {
      display: flex;
      column-gap: 2rem;
      margin-top: 9rem;
      flex-wrap: wrap;
      gap: 2rem;

      .down_cv {
        display: flex;
        align-items: center;
        width: max-content;
        padding: .5rem 3rem;
        border-top: 2px solid;
        border-left: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
        cursor: pointer;
        transition: .5s ease;
        font-weight: 500;
        column-gap: 2rem;

        &:hover {
          box-shadow: 0 0 1rem rgba(0, 0, 0, .6) ;
        }

        & svg {
          font-size: 2.3rem;
        }
      }

    }

    .social {
      display: flex;
      column-gap: 3rem;

      .social_icon {
        margin-top: 5rem;
        padding: 5rem 0;
        font-size: 4rem;
        transition: .5s ease;
        color: var(--secondary-color-text);


        &:hover {
          color: rgb(1, 73, 255)
        }
      }

    }

  }

  .foto {


    .image_dev {
      width: 100%;
      min-width: 50%
    }
  }

}